@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
}

.login-bcg
{
    background-image: url(../img/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.lg-form
{
    background-color: rgb(255, 255, 255);
    padding: 60px 10px !important;
    border-radius: 0.25rem;
}

.lg-form input
{
    position: center;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 1px solid rgb(70, 68, 68) !important;
    border-radius: 0.1rem !important;
    size: 0ch !important;
}

.btn-send-2 {
    background-color: rgb(153, 0, 153) !important;
    color: white !important;
    border-radius: 33px !important;
    font-size: 12px !important;
    font-weight: 900 !important;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 12px 12px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    font-family: 'Dosis', sans-serif;
    transition: 0.4s !important;
}

.btn-send-2:hover
{
    transition: 0.4s;
    background-color: rgb(230, 0, 230) !important;
}

.btn-send-3 {
    background-color: rgb(255, 51, 51) !important;
    color: white !important;
    border-radius: 33px !important;
    font-size: 12px !important;
    font-weight: 900 !important;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 12px 12px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    font-family: 'Dosis', sans-serif;
    transition: 0.4s !important;
}

.btn-send-3:hover
{
    transition: 0.4s;
    background-color: rgb(255, 77, 77) !important;
}

input:focus 
{
    box-shadow: none !important;
}

input:-internal-autofill-selected 
{
    background-color: transparent !important;
    background-image: none !important;
    border-bottom: 3px solid rgb(68, 255, 78) !important;
}

.form-check-input
{
    border: none !important;

}

.form-check-label
{
    font-size: 17px;
}

